ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -10px;
    float: right;
    right: 10px;
    top: 18px;
    font-family: Arial;
    font-weight: bold;
}

li  {
    display: inline;
    justify-content: space-between;
    padding: 0px 10px;
}

img {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
}

#form {
    position: fixed;
    top: 300px;
    left: 240px;
    border-radius: 25px;
}

.form-control {
    width: 300px;
}

.footer {
    position: fixed;
    left: auto;
    right: auto;
    bottom: 30px;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: grey;
}